<form #exampleForm="ngForm" (ngSubmit)="onSubmit()">
  <h2>Timeout</h2>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Nom" required [(ngModel)]='input.name' name='name'>
    </mat-form-field>
  </div>
  <button type="submit" mat-raised-button color="primary" [disabled]="!exampleForm.form.valid">Obtenir la signification</button>
  <mat-progress-spinner *ngIf="loading" diameter="25" class="spinner" mode="indeterminate">
  </mat-progress-spinner>
</form>

<p> Vous avez tapé: {{input.name}}. La signification est: {{input.info}} </p>